<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title 'Cart lite' %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    </head>
    <body>
    <div class="navbar navbar-dark bg-dark box-shadow sticky-top">
        <div class="container d-flex justify-content-between">
            <a href="{{ path('home') }}" class="navbar-brand d-flex align-items-center">
                <strong>Cart lite</strong>
            </a>
            <a href="{{ path('cart_show') }}" class="btn btn-outline-light" title="{{ 'cart'|trans }}">
                <i class="icon-basket icons"></i>
                <span class="sr-only">{{ 'cart'|trans }}</span>
                {% if app.session.has('cart') and app.session.get('cart')|length %}
                <span class="badge badge-light">{{ app.session.get('cart')|length }}</span>
                {% endif %}
            </a>
        </div>
    </div>
    <main role="main">
        {% block body %}{% endblock %}
    </main>
    <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
