{% extends 'base.html.twig' %}

{% block title 'products'|trans %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ 'products'|trans }}</h1>
            <p class="lead text-muted"></p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="#" class="btn btn-primary">{{ 'add.to.cart'|trans }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
